director_name: # bucc

access_key_id: # ...
access_key_secret: # ...

internal_cidr: 192.168.0.0/24
internal_gw: 192.168.0.1
internal_ip: 192.168.0.2
vswitch_id: # ...
security_group_id: # ...

# Regions list - https://www.alibabacloud.com/help/doc-detail/40654.htm
region: cn-beijing
zone: cn-beijing-a
